/* h1{
    font-size: 2em;
    margin-left: 10px;
}

h1:after{
    background-color: var(--c-purple);
    content: "";
    display: block;
    height: 3px;
    margin-top: 5px;
    width: 80px; 
}
         */