menu{
    align-items: center;
    display: flex;
    height: 12vh;
    justify-content: center;
}

menu nav{
    border-radius: var(--border);
    width: 90%;
    padding: 10px 20px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
}

menu nav a{
    text-decoration: none;
    color: #000000;
    font-size: 1.1em;
    font-weight: 600;

    padding: 10px 5px;
    transition: all ease-in-out .6s;
}

menu nav ul a:not(:first-child){
    margin-left: 10px;
}

menu nav a:hover,
mwnu nav ul button:hover{
    background-color: #489446;
    color: #e7e8de;
    transition: all ease-in-out .6s;
}

menu nav ul a.active{
    background-color: #489446;
    color: #e7e8de;
}

menu nav ul button{
    background-color: transparent;
    color: #000000;
    font-size: 1.1em;
    font-weight: 600;

    padding: 10px 5px;
    margin: 4px;
    transition: all ease-in-out .6s;
}
